<?xml version="1.0"?>
<config>
    <modules>
        <Addvert_Addvert>
            <version>0.1.0</version>
        </Addvert_Addvert>
    </modules>
    <global>
        <blocks>
            <addvert>
                <class>Addvert_Addvert_Block</class>
            </addvert>
        </blocks>
        <helpers>
            <addvert>
                <class>Addvert_Addvert_Helper</class>
            </addvert>
        </helpers>
        <models>
            <addvert>
                <class>Addvert_Addvert_Model</class>
            </addvert>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <addvert>
                    <file>addvert/addvert.xml</file>
                </addvert>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <addvert>
                        <type>singleton</type>
                        <class>Addvert_Addvert_Model_Observer</class>
                        <method>registerOrderId</method>
                    </addvert>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>
</config>